<!DOCTYPE html>
<html  lang="en">
<head><meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>nuxt-app</title>
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="nuxt-app">
<meta name="theme-color" content="#000000">
<meta property="og:type" content="website">
<meta property="og:title" content="nuxt-app">
<meta property="og:site_name" content="nuxt-app">
<meta name="twitter:card" content="summary">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="/_nuxt/entry.9b9e9517.css">
<link rel="modulepreload" as="script" crossorigin href="/_nuxt/entry.b4992638.js">
<link rel="prefetch" as="image" type="image/svg+xml" href="/_nuxt/sidebar-active-wave-dark.91fab1b5.svg">
<link rel="prefetch" as="image" type="image/svg+xml" href="/_nuxt/sidebar-active-wave.4dafdbf2.svg">
<link rel="prefetch" as="style" href="/_nuxt/default.f906b404.css">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/default.ab13679f.js">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/nuxt-link.49c7196b.js">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/_plugin-vue_export-helper.c27b6911.js">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/front.c65c4bed.js">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/vue.f36acd1f.05636712.js">
<link rel="prefetch" as="style" href="/_nuxt/error-404.95c28eb4.css">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/error-404.3c021808.js">
<link rel="prefetch" as="style" href="/_nuxt/error-500.e798523c.css">
<link rel="prefetch" as="script" crossorigin href="/_nuxt/error-500.7d357e24.js">
<script type="module" src="/_nuxt/entry.b4992638.js" crossorigin></script>
<script id="unhead:payload" type="application/json">{"title":"nuxt-app"}</script><script>
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.getRegistrations().then((registrations) => {
    for (const registration of registrations) {
      console.info('[PWA] Unregistering Service Worker:', registration)
      registration.unregister()
    }
  })
}
if ('caches' in window) {
  caches.keys()
    .then((keys) => {
      if (keys.length) {
        console.info('[PWA] Cleaning cache for:', keys.join(', '))
        for (const key of keys) {
          caches.delete(key)
        }
      }
    })
}
</script></head>
<body ><div id="__nuxt"></div><script type="application/json" id="__NUXT_DATA__" data-ssr="false">[{"_errors":1,"serverRendered":2,"data":3,"state":4},{},false,{},{}]</script>
<script>window.__NUXT__={};window.__NUXT__.config={public:{persistedState:{storage:"cookies",debug:false,cookieOptions:{}},pwaManifest:{name:"nuxt-app",short_name:"nuxt-app",description:"",lang:"en",start_url:"/?standalone=true",display:"standalone",background_color:"#ffffff",theme_color:"#000000",icons:[]},auth:{computed:{origin:"http://localhost:3000",pathname:"/api/auth",fullBaseUrl:"http://localhost:3000/api/auth"},isEnabled:true,session:{enableRefreshPeriodically:false,enableRefreshOnWindowFocus:true},globalAppMiddleware:{isEnabled:true,allow404WithoutAuth:true,addDefaultCallbackUrl:true},baseURL:"http://localhost:3000/api/auth",provider:{type:"authjs",trustHost:false,defaultProvider:"",addDefaultCallbackUrl:true}}},app:{baseURL:"/",buildAssetsDir:"/_nuxt/",cdnURL:""}}</script></body>
</html>